<div>
  <div>
    <h2>Dados do Filho</h2>
    <p>
      <b>Nome:</b> Sandro Cavanlcanti
    </p>
    <p>
      <b>Sexo:</b> Masculino - 
      <b>Data de Nascimento:</b> 09/07/2016 - 
      <b>Idade Gestacional:</b> Termo
    </p>
    <p>
      <b>Gemelar:</b> NÃO - 
      <b>Tipo de Parto:</b> Cesáreo -
      <b>Dano Perinatal:</b> NÃO
    </p>
    <p>
      <b>Cadastro feito em:</b> 15/10/2016 - 
      <b>Última atualização:</b> 22/01/2017
    </p>
    <p>
      <b>Serviço de saúde:</b> Hospital Público
      <b>Município:</b> Campina Grande
      <b>Identificação:</b> ISEA
    </p>
    <hr/>
    <h3>Exame Físico ao Nascer</h3>
    <div class="table-responsive-vertical md-whiteframe-z1">
      <table id="table" class="table table-hover table-bordered">
        <thead>
        <tr>
          <th>Peso (g)</th>
          <th>Estatura (cm)</th>
          <th>Perímetro cefálico (cm)</th>
          <th>Perímetro torácico</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>2.500 g</td>
            <td>45 cm</td>
            <td>28 cm</td>
            <td>30,5 cm</td>
          </tr>
          <tr>
            <th>Índice de Apgar</th>
            <td><b>1º min:</b> 2</td>
            <td><b>5º min:</b> 1</td>
            <td><b>10º min:</b> 1</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p style="text-align: center">
      <md-button class="md-raised md-primary">Editar</md-button>
      <md-button class="md-raised md-primary">Exames Inespecíficos</md-button>
      <md-button class="md-raised md-primary">Exames Etiológicos</md-button>
      <md-button class="md-raised md-primary">Exames de Imagem</md-button>
      <md-button class="md-raised md-primary">Outros Exames</md-button>
    </p>
  </div>
</div>