<div class="table-responsive-vertical md-whiteframe-z1">
  <table id="table" class="table table-hover table-bordered">
    <thead>
    <tr>
      <th>#</th>
      <th>Nome da Mãe</th>
      <th>Filhos</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="data in tableData track by $index" ng-click="visualizar(data)">
      <td data-title="ID">{{data.id}}</td>
      <td data-title="Nome da Mãe">{{data.mae}}</td>
      <td data-title="Filhos">{{data.filhos.length}}</td>
      <td data-title="">
        <i class="material-icons">&#xE8B6;</i> Visualizar
      </td>
    </tr>
    </tbody>
  </table>
</div>