<div>
  <div>
    <h2>Dados da Mãe</h2>
    <p>
      <b>Nome:</b> Ofélia Cavalcanti
    </p>
    <p>
      <b>Data de Nascimento:</b> 25/09/1984 - 
      <b>Idade:</b> 32 anos
    </p>
    <p>
      <b>Raça/cor:</b> Parda -
      <b>Escolaridade:</b> Médio -
      <b>Estado Civil:</b> Casada
    </p>
    <p>
      <b>Ocupação:</b> Professora
    </p>
    <p>
      <b>Quantas pessoas moram na casa:</b> 4 -
      <b>Renda familiar mensal:</b> R$ 2.000,00
    </p>
    <p>
      <b>Endereço atual:</b> Rua Antônio Vieira da Rocha, 624, Bodocongó - CEP: 58109-525
    </p>
    <p>
      <b>Telefone:</b> (83) 3333-2008 -
      <b>Celular:</b> (83) 98888-1234
    </p>
    <p>
      <b>Morou em outro endereço durante a gestação:</b> NÂO
    </p>
    <hr/>
    <h3>Viagens Durante a Gestação</h3>
    <p>Não foram feitas viagens durante a gestação</p>
    <hr/>
    <h3>Antecedentes</h3>
    <p><b>Grau de parentesco com o parceiro:</b> NÃO</p>
    <p><b>Possui mal formação congênita:</b> NÂO</p>
    <p><b>Há alguém na família dos pais que nasceu com microcefalia:</b>NÃO</p>
    <p><b>Doenças pré-existentes:</b> Hipertensão arterial sistêmica</p>
    <p><b>Doenças sexualmente transmissíveis:</b> NÃO</p>
    <hr/>
    <h3>Hábitos Durante a Gestação</h3>

    <div class="table-responsive-vertical md-whiteframe-z1">
      <table id="table" class="table table-hover table-bordered">
        <thead>
        <tr>
          <th>Álcool</th>
          <th>Tabagismo</th>
          <th>Drogas ilícitas</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>NÃO</td>
            <td>NÃO</td>
            <td>NÃO</td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr/>
    <p style="text-align: center">
      <md-button class="md-raised md-primary">Editar</md-button>
      <md-button class="md-raised md-primary">Histórico de Medicamentos</md-button>
      <md-button class="md-raised md-primary">Histório Obstetrício/Ginecológico</md-button>
      <md-button class="md-raised md-primary">Pré-Natal</md-button>
      <md-button class="md-raised md-primary">Exames</md-button>
    </p>
  </div>
</div>