<div layout-gt-md="row">
  <panel-widget flex title="Site visitors" template="admin/panels/visitors.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Memory load" template="admin/panels/memory.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Site visitors" template="admin/panels/visitors.html" class="fixed-height-widget"></panel-widget>
</div>
<div layout-gt-md="row">
  <panel-widget flex title="Memory load" template="admin/panels/memory.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Site visitors" template="admin/panels/visitors.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Memory load" template="admin/panels/memory.html" class="fixed-height-widget"></panel-widget>
</div>
