<style>
  .ipesq_form fieldset legend, .ipesq_form fieldset label {
    font-weight: bold;
  }

  .ipesq_form fieldset p {
    display: table;
  }

  .ipesq_form fieldset p label {
    display: table-cell;
    width: 200px;
  }

  .ipesq_form p {
    margin-top: 20px;
    font-weight: 700;
  }
  md-radio-group {
    margin-bottom: 40px;
  }

  .selects {
    margin-bottom: 40px;
  }
</style>

<form action="" class="ipesq_form">
  <md-card>
    <md-card-content>
      <h2>Dados do Recém Nascido</h2>

      <md-input-container>
        <label>Data do parto:</label>
        <input type="date" ng-model='model.dataDoParto'>
      </md-input-container>

      <p>Sexo:</p>
      <md-radio-group class="md-primary" layout="row" ng-model='model.sexo'>
        <md-radio-button value="masculino">Masculino</md-radio-button>
        <md-radio-button value="feminino">Feminino</md-radio-button>
        <md-radio-button value="indeterminado">Indeterminado</md-radio-button>
      </md-radio-group>

      <p>Idade gestacional:</p>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Semanas:</label>
          <input type="number" min="1" ng-model='model.idadeGestacional.semanas'>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Dias:</label>
          <input type="number" min="0" ng-model='model.idadeGestacional.dias'>
        </md-input-container>
      </div>

      <p>Classificação quanto a idade gestacional:</p>
      <md-radio-group class="md-primary" layout="row" ng-model='model.idadeGestacional.tipo'>
        <md-radio-button value="pre_termo">Pré-termo</md-radio-button>
        <md-radio-button value="termo">Termo</md-radio-button>
        <md-radio-button value="pos_termo">Pós-termo</md-radio-button>
      </md-radio-group>

      <p>Gemelar:</p>
      <md-radio-group class="md-primary" layout="row" ng-model='model.gemelar'>
        <md-radio-button value="sim">Sim</md-radio-button>
        <md-radio-button value="nao">Não</md-radio-button>
      </md-radio-group>


      <div ng-if='model.gemelar == "sim"'>
        <p>Tipo gemelar:</p>
        <md-radio-group class="md-primary" layout="row" ng-model='model.tipoGemelar'>
          <md-radio-button value="1">1º Gemelar</md-radio-button>
          <md-radio-button value="2">2º Gemelar</md-radio-button>
          <md-radio-button value="3">3º Gemelar</md-radio-button>
        </md-radio-group>
      </div>

      <p>Tipo de parto:</p>
      <md-radio-group class="md-primary" layout="row" ng-model='model.tipoDeParto'>
        <md-radio-button value="vaginal">Normal/Vaginal</md-radio-button>
        <md-radio-button value="forceps">Fórceps</md-radio-button>
        <md-radio-button value="cesareo">Cesáreo</md-radio-button>
      </md-radio-group>

      <p>Ocorreu dano perinatal:</p>
      <md-radio-group class="md-primary" layout="row" ng-model='model.temDanoPerinatal'>
        <md-radio-button value="sim">Sim</md-radio-button>
        <md-radio-button value="nao">Não</md-radio-button>
      </md-radio-group>


      <div ng-if='model.temDanoPerinatal == "sim"'>
        <p>Dano perinatal:</p>
        <md-radio-group class="md-primary" layout="row" ng-model='model.danoPerinatal'>
          <md-radio-button value="anoxico">Anóxico</md-radio-button>
          <md-radio-button value="isquemico">Isquêmico</md-radio-button>
          <md-radio-button value="hemorragico">Hemorrágico</md-radio-button>
          <md-radio-button value="traumatico">Traumático</md-radio-button>
          <md-radio-button value="outros">Outros</md-radio-button>
        </md-radio-group>
      </div>

      <div ng-if='model.temDanoPerinatal == "sim" && model.danoPerinatal == "outros"'>
        <md-input-container class="md-block">
          <label>Outro dano perinatal:</label>
          <input ng-model='model.outrosDanosPerinatais'>
        </md-input-container>
      </div>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-content>
      <h2>Exame físico ao nascer</h2>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Peso (g):</label>
          <input type="number" min="0" step="0.01" ng-model='model.exameFisicoAoNascer.peso'>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Estatura (cm):</label>
          <input type="number" min="0" step="0.01" ng-model='model.exameFisicoAoNascer.estatura'>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Perímetro cefálico (cm):</label>
          <input type="number" min="0" step="0.01" ng-model='model.exameFisicoAoNascer.perimetroCefalico'>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Perímetro torácico (cm):</label>
          <input type="number" min="0" step="0.01" ng-model='model.exameFisicoAoNascer.perimetroToracico'>
        </md-input-container>
      </div>

      <p>Índice de Apgar:</p>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>1º min:</label>
          <input type="number" min="0" step="0.01" ng-model='model.exameFisicoAoNascer.apgar1'>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>5º min:</label>
          <input type="number" min="0" step="0.01" ng-model='model.exameFisicoAoNascer.apgar5'>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>10º min:</label>
          <input type="number" min="0" step="0.01" ng-model='model.exameFisicoAoNascer.apgar10'>
        </md-input-container>
      </div>


      <p>Presença de outras malformações:</p>
      <md-radio-group class="md-primary" layout="row" ng-model='model.temMalformacoes'>
        <md-radio-button value="sim">Sim</md-radio-button>
        <md-radio-button value="nao">Não</md-radio-button>
      </md-radio-group>


      <div ng-if='model.temMalformacoes == "sim"'>
        <div flex="100" flex-gt-sm="50" layout="column">
          <div layout="row" layout-wrap="" flex="">
            <div flex="33">
              <md-checkbox ng-model="model.malformacoes.ictericia">Icterícia</md-checkbox>
            </div>

            <div flex="33">
              <md-checkbox ng-model="model.malformacoes.hidropsia">Hidropsia</md-checkbox>
            </div>

            <div flex="33">
              <md-checkbox ng-model="model.malformacoes.petequias">Petéquias</md-checkbox>
            </div>

            <div flex="33">
              <md-checkbox ng-model="model.malformacoes.anemia">Anemia</md-checkbox>
            </div>

            <div flex="33">
              <md-checkbox ng-model="model.malformacoes.rms">Rinite muco-sanguinolenta</md-checkbox>
            </div>

            <div flex="33">
              <md-checkbox ng-model="model.malformacoes.plaquetopenia">Plaquetopenia</md-checkbox>
            </div>

            <div flex="33">
              <md-checkbox ng-model="model.malformacoes.esplenomegalia">Esplenomegalia</md-checkbox>
            </div>

            <div flex="33">
              <md-checkbox ng-model="model.malformacoes.hepatomegalia">hepatomegalia</md-checkbox>
            </div>

            <div flex="33">
              <md-checkbox ng-model="model.malformacoes.convulsoes">Convulsões</md-checkbox>
            </div>

            <div flex="33">
              <md-checkbox ng-model="model.malformacoes.ao">Alterações ósseas</md-checkbox>
            </div>

            <div flex="33">
              <md-checkbox ng-model="model.malformacoes.lc">Lesões cutâneas</md-checkbox>
            </div>

            <div flex="33">
              <md-checkbox ng-model="model.malformacoes.choro">Choro ao manuseio</md-checkbox>
            </div>

            <div flex="33">
              <md-checkbox ng-model="model.malformacoes.pseudoparalisia">Pseudoparalisia</md-checkbox>
            </div>

            <div flex="33">
              <md-checkbox ng-model="model.malformacoes.outras">Outras</md-checkbox>
            </div>
          </div>
        </div>
      </div>

      <div ng-if='model.temMalformacoes == "sim" && model.malformacoes.outras'>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Outras malformações:</label>
          <input ng-model='model.outrasMalformacoes'>
        </md-input-container>
      </div>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-content>
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary" ng-click="cadastrar()">{{labelBotaoSalvar}}</md-button>
      </section>
    </md-card-content>
  </md-card>
</form>
