<!DOCTYPE html>
<html ng-app='microApp'>
  <head>
    <title>Hello World</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src='/js/app.bundle.js'></script>
  </head>
  <body ng-controller="MainCtrl">
    <h1>Hello World</h1>
    <p>Sejam todos bem vindos</p>
    <p>Angular Funciona {{2 + 2}}</p>
    <p>$scope.test = {{test}}</p>
  </body>
</html>
