<div layout="row" layout-fill>
  <div layout="column" flex>
    <md-toolbar layout="row" layout-align="center center" ng-controller="PesquisadorToolbarController">
      <md-button aria-label="Favorite" ng-click="voltar()">
        <i class="material-icons">&#xE14A;</i> Voltar
      </md-button>

      <div class="md-toolbar-tools">
        <h2> 
          <span>IPESQ Pesquisador - Menu Principal</span>
        </h2>
      </div>
      <span flex></span>
      <md-button aria-label="Favorite" ng-click="sair()">
        <i class="material-icons">&#xE879;</i> Sair
      </md-button>
    </md-toolbar>
    <md-content flex class="md-padding page-content">
      <div ui-view></div>
    </md-content>
  </div>
</div>